@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(40 48 55);
}
.sidebar-toggle-btn {
  font-size: 32px;
  color: rgb(73, 166, 233);
  float: right;
  background-color: transparent;
  border: 0;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  animation: zoom 2s ease-in-out infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.sidebar {
  width: 30%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(253 249 249 / 81%);
  transition: all 0.3s linear;
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.close-btn {
  font-size: 28px;
  border: 0;
  background: transparent;
  color: rgb(17, 26, 32);
  cursor: pointer;
  transition: all 0.1s linear;
}
.close-btn:hover {
  transform: rotate(360deg);
  font-size: 32px;
  color: teal;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.links p a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(25, 99, 156);
}
.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 8px;
}
.social-media-icons p a {
  text-decoration: none;
  font-size: 32px;
}
.fa-twitter {
  color: black;
}
.fa-behance {
  color: blue;
}
.fa-linkedin {
  color: rgb(47, 47, 133);
}

/* Tablets */
@media (min-width: 460px) and (max-width: 1280px) {
  .sidebar {
    width: 400px;
  }
}
/* Mobiles */
@media (max-width: 460px) {
  .sidebar {
    width: 80%;
  }
  .logo {
    width: 180px;
    height: 40px;
  }
}
